!!! 5
%html{:lang => "pt-BR"}
  -# <head>
  <?php include("componentes/_head.php") ?>
  %body
    -# Barra lateral
    <?php include("componentes/_sidebar.php") ?>
    -# A UNITE
    %main{:id => "content", :class => "unite", :role => "main"}
      // Pesquisa
      <?php include("componentes/_pesquisa.php") ?>
      %header
        %h1 A Unite
      %h2 História da Unite
      %p Entre o final de 1998 e início de 1999, havia na Regional Belo Horizonte uma área vinculada à Superintendência de Atendimento a Clientes - SUPAC -, responsável pelo suporte de terceiro nível às Redes da Receita Federal do Brasil - RFB. Com a decisão da RFB de atualizar todo o seu parque computacional, envolvendo servidores e estações de trabalho, o Serpro se viu em uma situação complicada para capacitar os técnicos de suporte de primeiro nível, alocados na operação das redes em mais de trezentos municípios onde a RFB se fazia presente. Havia restrições orçamentárias para o deslocamento de todo o grupo para as capitais entre outros problemas.
      %p A equipe de suporte em BH propôs então que fossem treinados 2 técnicos em cada capital; essas pessoas ajudaram a preparar roteiros e tutoriais de como instalar e operar os novos sistemas operacionais. Esse material foi publicado em um site interno, com a divulgação de e-mail e telefone dos responsáveis pelo apoio em cada capital.
      %p A experiência foi tão exitosa, que os próprios técnicos alocados fora da Empresa solicitaram a expansão para outros temas.
      %p Assim foi feito, o que acabou chamando a atenção da Secretaria do Tesouro Nacional, preocupada com a falta de mecanismos adequados para treinamento do sistema SIAFI para os mais de 35.000 servidores públicos, usuários do sistema à época.
      %p A partir daí, a STN promoveu uma parceria entre STN, Serpro e Fundação Getúlio Vargas para a criação de cursos a distância para o SIAFI, que foi muito importante para o aculturamento da equipe envolvida. Juntou-se à equipe de suporte, profissionais especialistas em Educação, anteriormente alocados em outras atividades e que tratariam de implementar as estratégias educacionais.
      %p Foi um marco para a E@D, que ganhou forças e se expandiu tanto internamente como para outros clientes como ESAF, ENAP, a própria RFB entre outros, tornando-se uma referência em capacitação corporativa no setor público.
      %p A partir de 2005, a equipe passou a contar com o reforço de dois grupos de profissionais altamente qualificados, no segmento de Designer Instrucional e Designer Gráfico, contratados por concurso público.
      %p Atualmente são 40 pessoas dos mais diversos perfis, atuando de forma multidisciplinar nos projetos educacionais, o que garante a qualidade e criatividade ao processo.
      %p Adotando inicialmente uma solução desenvolvida internamente como AVA - Ambiente Virtual de Aprendizagem, a partir do final de 2008, iniciou-se a migração dos cursos para a plataforma Moodle, de código aberto e de maior utilização tanto no Brasil quanto no exterior.
      %p Além de contar com quase 250.000 pessoas cadastradas nos ambientes virtuais de aprendizagem administrados pelo Serpro e mais de 120 cursos desenvolvidos, a equipe E@D possui diversos trabalhos apresentados em congressos nacionais e internacionais e em publicações especializadas.
      %p Destaca-se em especial, a metodologia desenvolvida para o planejamento e construção de conteúdos educacionais,  chamada "Oficina de trabalho para a  construção de conteúdos". Esta oficina tem como objetivos promover a integração da equipe multidisciplinar responsável pelo projeto,  apresentar conceitos e o método utilizado para a criação de um curso a distância, visando a homogeneização de conhecimentos, apresentação das possibilidades e recursos para a construção de um curso e a elaboração do planejamento educacional.
      %p Educação a Distância é hoje uma realidade para o Serpro e seus clientes, representando não só a possibilidade de se fazer educação corporativa de qualidade a custos razoáveis, mas também a democratização do acesso ao conhecimento por parte de pessoas localizadas em qualquer parte do país, que de outra forma não teriam as mesmas condições financeiras ou logísticas de habitantes de regiões mais desenvolvidas.
    -# Scripts
    <?php include("componentes/_scripts.php") ?>