-# SUBTLE HOVER EFFECT
-# http://tympanus.net/codrops/?p=19292
#galeria
  / %figure
  /   %img{:alt => "Alessandra Ferreira", :src => "imagens/pessoas/alessandra_ferreira_1.jpg"}/
  /   %figcaption
  /     %h2
  /       Alessandra
  /       %span Ferreira
  /     %p Apoio Administrativo
  /     %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Camila Ferreira", :src => "imagens/pessoas/camila_ferreira_1.jpg"}/
    %figcaption
      %h2
        Camila
        %span Ferreira
      %p Designer Instrucional
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Carlos Ely", :src => "imagens/pessoas/carlos_ely_1.jpg"}/
    %figcaption
      %h2
        Carlos
        %span Ely
      %p Designer Instrucional
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Claudinei Nogueira", :src => "imagens/pessoas/claudinei_nogueira_2.jpg"}/
    %figcaption
      %h2
        Claudinei
        %span Nogueira
      %p Designer Instrucional
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Claudio Pedrosa", :src => "imagens/pessoas/claudio_pedrosa.jpg"}/
    %figcaption
      %h2
        Claudio
        %span Pedrosa
      %p Gest&atilde;o de Escolas
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "D&eacute;bora Martinez", :src => "imagens/pessoas/debora_martinez_2.jpg"}/
    %figcaption
      %h2
        D&eacute;bora
        %span Martinez
      %p Designer Instrucional
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Denise Ara&uacute;jo", :src => "imagens/pessoas/pessoa_ausente.jpg"}/
    %figcaption
      %h2
        Denise
        %span Ara&uacute;jo
      %p Designer Instrucional
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  / %figure
  /   %img{:alt => "Denise Sobrenome", :src => "imagens/pessoas/denise_sobrenome_1.jpg"}/
  /   %figcaption
  /     %h2
  /       Denise
  /       %span Sobrenome
  /     %p Apoio Administrativo
  /     %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Elinei Pinho", :src => "imagens/pessoas/elinei_pinho.jpg"}/
    %figcaption
      %h2
        Elinei
        %span Pinho
      %p Apoio Administrativo
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Ernesto Tavares", :src => "imagens/pessoas/ernesto_tavares_1.jpg"}/
    %figcaption
      %h2
        Ernesto
        %span Tavares
      %p Gest&atilde;o de Escolas
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Hermelinda Alves", :src => "imagens/pessoas/pessoa_ausente.jpg"}/
    %figcaption
      %h2
        Hermelinda
        %span Alves
      %p Gest&atilde;o de Escolas
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  / %figure
  /   %img{:alt => "Igor Aprendiz", :src => "imagens/pessoas/igor_aprendiz_1.jpg"}/
  /   %figcaption
  /     %h2
  /       Igor
  /       %span Aprendiz
  /     %p Aprendiz
  /     %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Jarbas Linhares", :src => "imagens/pessoas/jarbas_linhares.jpg"}/
    %figcaption
      %h2
        Jarbas
        %span Linhares
      %p Gest&atilde;o de Escolas
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Julio Luchesi", :src => "imagens/pessoas/julio_luchesi.jpg"}/
    %figcaption
      %h2
        Julio
        %span Luchesi
      %p Designer Gr&aacute;fico
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "L&eacute;lio Assis", :src => "imagens/pessoas/lelio_assis.jpg"}/
    %figcaption
      %h2
        L&eacute;lio
        %span Assis
      %p Designer Instrucional
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Leo Godinho", :src => "imagens/pessoas/leo_godinho_1.jpg"}/
    %figcaption
      %h2
        Leo
        %span Godinho
      %p Designer Gr&aacute;fico
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Leopoldo Bueno", :src => "imagens/pessoas/leopoldo_bueno_2.jpg"}/
    %figcaption
      %h2
        Leopoldo
        %span Bueno
      %p Designer Gr&aacute;fico
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Lucas Michelini", :src => "imagens/pessoas/lucas_michelini_1.jpg"}/
    %figcaption
      %h2
        Lucas
        %span Michelini
      %p Designer Instrucional
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "M&aacute;rcio Benedito (China)", :src => "imagens/pessoas/marcio_benedito.jpg"}/
    %figcaption
      %h2
        M&aacute;rcio
        %span China
      %p Designer Instrucional
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "M&aacute;rcio Lopes", :src => "imagens/pessoas/marcio_lopes.jpg"}/
    %figcaption
      %h2
        M&aacute;rcio
        %span Lopes
      %p Designer Gr&aacute;fico
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Marcos Vinícius", :src => "imagens/pessoas/marcos_vinicius_4.jpg"}/
    %figcaption
      %h2
        Marcos
        %span Vinícius
      %p Designer Gr&aacute;fico
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Margarida Nunes", :src => "imagens/pessoas/margarida_nunes_1.jpg"}/
    %figcaption
      %h2
        Margarida
        %span Nunes
      %p Gest&atilde;o de Escolas
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Marina Aguiar", :src => "imagens/pessoas/pessoa_ausente.jpg"}/
    %figcaption
      %h2
        Marina
        %span Aguiar
      %p Designer Instrucional
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Marina Marana", :src => "imagens/pessoas/marina_marana_2.jpg"}/
    %figcaption
      %h2
        Marina
        %span Marana
      %p Designer Instrucional
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Melissa Sant'Ana", :src => "imagens/pessoas/melissa_santana_2.jpg"}/
    %figcaption
      %h2
        Melissa
        %span Sant'Ana
      %p Designer Gr&aacute;fica
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Murilo Valadares", :src => "imagens/pessoas/pessoa_ausente.jpg"}/
    %figcaption
      %h2
        Murilo
        %span Valadares
      %p Designer Instrucional
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Nilma Queiroz", :src => "imagens/pessoas/nilma_queiroz.jpg"}/
    %figcaption
      %h2
        Nilma
        %span Queiroz
      %p Gest&atilde;o de Escolas
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Nival Lage", :src => "imagens/pessoas/nival_lage_1.jpg"}/
    %figcaption
      %h2
        Nival
        %span Lage
      %p Revisor de textos
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Magda Flor", :src => "imagens/pessoas/magda_flor.jpg"}/
    %figcaption
      %h2
        Magda
        %span Flor
      %p Apoio Administrativo
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Patrícia Lopes", :src => "imagens/pessoas/patricia_lopes.jpg"}/
    %figcaption
      %h2
        Patrícia
        %span Lopes
      %p Designer Instrucional
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Patrícia Silv&eacute;rio", :src => "imagens/pessoas/patricia_silverio_4.jpg"}/
    %figcaption
      %h2
        Patrícia
        %span Silv&eacute;rio
      %p Designer Instrucional
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Paulo Oliveira", :src => "imagens/pessoas/paulo_oliveira.jpg"}/
    %figcaption
      %h2
        Paulo
        %span Oliveira
      %p Designer Gr&aacute;fico
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Rafael Marques", :src => "imagens/pessoas/rafael_marques.jpg"}/
    %figcaption
      %h2
        Rafael
        %span Marques
      %p Designer Gr&aacute;fico
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Regina Fraga", :src => "imagens/pessoas/regina_fraga.jpg"}/
    %figcaption
      %h2
        Regina
        %span Fraga
      %p Gest&atilde;o de Escolas
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Regina Rezende", :src => "imagens/pessoas/regina_rezende_2.jpg"}/
    %figcaption
      %h2
        Regina
        %span Rezende
      %p Gest&atilde;o de Escolas
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Roberto Caio", :src => "imagens/pessoas/roberto_caio_1.jpg"}/
    %figcaption
      %h2
        Roberto
        %span Caio
      %p Designer Gr&aacute;fico
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Rodrigo Urquiza", :src => "imagens/pessoas/rodrigo_urquiza.jpg"}/
    %figcaption
      %h2
        Rodrigo
        %span Urquiza
      %p Designer Gr&aacute;fico
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Rosemary Benedito", :src => "imagens/pessoas/rosemary_benedito_1.jpg"}/
    %figcaption
      %h2
        Rosemary
        %span Benedito
      %p Gest&atilde;o de Escolas
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Tommy Medeiros", :src => "imagens/pessoas/tommy_medeiros_1.jpg"}/
    %figcaption
      %h2
        Tommy
        %span Medeiros
      %p Designer Gr&aacute;fico
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "T&uacute;lio Oliveira", :src => "imagens/pessoas/tulio_marcio_2.jpg"}/
    %figcaption
      %h2
        T&uacute;lio
        %span Oliveira
      %p Designer Gr&aacute;fico
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais
  %figure
    %img{:alt => "Willians Gimenes", :src => "imagens/pessoas/willians_gimenes_1.jpg"}/
    %figcaption
      %h2
        Willians
        %span Gimenes
      %p Designer Gr&aacute;fico
      %a{:href => "#modal", :class => "call-modal", :title => "Clique para saber mais"} Clique para saber mais