%section
  %img{:src => "imagens/pessoas/melissa_santana_1.jpg"}
  %p{:class => "informacao"}
    Em 31/07/2014 por
    %a{:href => "#!"}
      Melissa Dias Sant'Ana
    %br/
    Categorias: 
    %a{:href => "#!"} Educa&ccedil;&atilde;o
    , 
    %a{:href => "#!"} Forma&ccedil;&atilde;o Profissional