-# Estrutura especifica de links para outros artigos
%aside
  %div
    %img{:src => "imagens/blog/_blog_nav.jpg"}
    %p Outro artigo relacionado ou o pr&oacute;ximo artigo rand&ocirc;mico
    %p
      02/05/2014
      %br/
      Por 
      %a{:href => "#!"} Fulano de Tal
  %div
    %img{:src => "imagens/blog/_blog_nav.jpg"}
    %p Outro artigo relacionado ou o pr&oacute;ximo artigo rand&ocirc;mico
    %p
      13/07/2014
      %br/
      Por 
      %a{:href => "#!"} Beltrano